/* in global.css or tailwind layer */
[data-state="open"] > .accordion-icon, [data-state="closed"] > .accordion-icon {
  color:#111;
width: 24px;
height: 24px;
}

@media screen and (max-width:768px) {
    [data-state="open"] > .accordion-icon, [data-state="closed"] > .accordion-icon {
  color:#111;
width: 20px;
height: 20px;
}
}
/* 
[data-state="closed"]:hover > .navigation-menu__content {
  display: block !important;
} */


.headermenu button[data-radix-collection-item] {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
